Repository dbrijesh/engsoln2: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/build-backend.yml, azure-pipelines/build-frontend.yml, azure-pipelines/infra-deploy.yml

Path conditions:
  azure-pipelines/build-backend.yml: any of: app/backend, azure-pipelines/build-backend.yml
  azure-pipelines/build-frontend.yml: any of: app/frontend, azure-pipelines/build-frontend.yml
  azure-pipelines/infra-deploy.yml: any of: infra, azure-pipelines/infra-deploy.yml

Add GitHub Actions workflows and setup guide
  .github/workflows/build-backend.yml
  .github/workflows/build-frontend.yml
  .github/workflows/deploy-app.yml
  .github/workflows/deploy-infrastructure.yml
  GITHUB_ACTIONS_SETUP.md
Due: none

Add GitHub deployment summary and next steps guide
  GITHUB_DEPLOYMENT_SUMMARY.md
Due: none

Add local testing guide and fix TypeScript version compatibility
  LOCAL_TESTING_GUIDE.md
  app/frontend/package.json
Due: azure-pipelines/build-frontend.yml

Fix local testing and API authentication error
  .gitignore
  app/backend/pom.xml
  app/backend/src/main/java/com/example/aks/AksStarterApplication.java
  app/backend/src/main/java/com/example/aks/config/CustomJwtAuthenticationConverter.java
  app/backend/src/main/java/com/example/aks/config/LocalSecurityConfig.java
  app/backend/src/main/java/com/example/aks/config/OpenApiConfig.java
  app/backend/src/main/java/com/example/aks/controller/HelloController.java
  app/backend/src/main/java/com/example/aks/controller/UserController.java
  app/backend/src/main/java/com/example/aks/dto/ErrorResponse.java
  app/backend/src/main/java/com/example/aks/dto/HelloResponse.java
  app/backend/src/main/java/com/example/aks/dto/UserResponse.java
  app/backend/src/main/java/com/example/aks/dto/ValidationErrorResponse.java
  app/backend/src/main/java/com/example/aks/entity/User.java
  app/backend/src/main/java/com/example/aks/exception/GlobalExceptionHandler.java
  app/backend/src/main/java/com/example/aks/repository/UserRepository.java
  app/backend/src/main/java/com/example/aks/service/HelloService.java
  app/backend/src/main/java/com/example/aks/service/UserService.java
  app/backend/src/main/resources/application-local.yml
  app/backend/src/test/java/com/example/aks/AksStarterApplicationTests.java
  app/backend/src/test/java/com/example/aks/bdd/CucumberRunnerTest.java
  app/backend/src/test/java/com/example/aks/bdd/HelloApiSteps.java
  app/backend/src/test/java/com/example/aks/bdd/UserManagementSteps.java
  app/backend/src/test/java/com/example/aks/controller/HelloControllerTest.java
  app/backend/src/test/java/com/example/aks/service/HelloServiceTest.java
  app/backend/src/test/resources/application-test.yml
  app/frontend/package-lock.json
  app/frontend/package.json
Due: azure-pipelines/build-backend.yml, azure-pipelines/build-frontend.yml

Configure build to run Spotless before Checkstyle and make Checkstyle non-blocking
  app/backend/pom.xml
Due: azure-pipelines/build-backend.yml

Fix frontend test failures in CI pipeline
  app/frontend/package.json
  app/frontend/src/setupTests.js
Due: azure-pipelines/build-frontend.yml

Fix backend build: adjust coverage thresholds, add checkstyle report, simplify Cucumber tests
  app/backend/pom.xml
  app/backend/src/test/java/com/example/aks/bdd/CucumberRunnerIT.java
  app/backend/src/test/java/com/example/aks/bdd/HelloApiSteps.java
  app/backend/src/test/resources/features/hello-api.feature
Due: azure-pipelines/build-backend.yml

Trigger workflow: verify all build pipeline fixes
  app/backend/src/main/resources/application.yml
Due: azure-pipelines/build-backend.yml

Make Docker dependency download resilient to Maven Central outages
  app/backend/Dockerfile
Due: azure-pipelines/build-backend.yml

Skip Checkstyle and Spotless in Docker builds
  app/backend/Dockerfile
Due: azure-pipelines/build-backend.yml

Fix Trivy security scan upload permissions and update CodeQL action
  .github/workflows/build-backend.yml
Due: none

Configure deployment for IP-based HTTPS with self-signed certificates
  .github/workflows/deploy-app.yml
  charts/backend/templates/ingress.yaml
  charts/backend/values.yaml
  charts/frontend/templates/ingress.yaml
  charts/frontend/values.yaml
Due: none

Trigger workflow: Update application config comment
  app/backend/src/main/resources/application.yml
Due: azure-pipelines/build-backend.yml

Trigger both build workflows for deployment
  app/frontend/package.json
Due: azure-pipelines/build-frontend.yml

Fix frontend workflow permissions for Trivy SARIF upload
  .github/workflows/build-frontend.yml
Due: none

Add develop branch trigger to deployment workflow
  .github/workflows/deploy-app.yml
Due: none

Fix Helm deployment and add technical architecture documentation
  .github/workflows/deploy-app.yml
  tech_architecture.md
Due: none

Trigger build workflows with deployment fix
  app/backend/src/main/resources/application.yml
  app/frontend/package.json
Due: azure-pipelines/build-backend.yml, azure-pipelines/build-frontend.yml

Fix Helm deployment using temporary values file instead of --set-json
  .github/workflows/deploy-app.yml
Due: none

Trigger workflows with updated deployment fix
  app/backend/src/main/resources/application.yml
  app/frontend/package.json
Due: azure-pipelines/build-backend.yml, azure-pipelines/build-frontend.yml

Fix Helm backend deployment - use left-aligned heredoc for environment variables
  .github/workflows/deploy-app.yml
Due: none

Update backend config comment to trigger workflow
  app/backend/src/main/resources/application.yml
Due: azure-pipelines/build-backend.yml

Fix YAML syntax error - use sed to strip heredoc indentation
  .github/workflows/deploy-app.yml
Due: none

Trigger workflow - test sed-based heredoc fix
  app/backend/src/main/resources/application.yml
Due: azure-pipelines/build-backend.yml

Replace Helm with kubectl and plain Kubernetes manifests
  .github/workflows/deploy-app.yml
  k8s/dev/backend-deployment.yaml
  k8s/dev/backend-ingress.yaml
  k8s/dev/backend-service.yaml
  k8s/dev/frontend-deployment.yaml
  k8s/dev/frontend-ingress.yaml
  k8s/dev/frontend-service.yaml
Due: none

Fix ingress for IP-based access - remove host requirements
  .github/workflows/deploy-app.yml
  k8s/dev/backend-ingress.yaml
  k8s/dev/frontend-ingress.yaml
Due: none

Trigger workflow - test kubectl-based deployment with fixed ingress
  app/backend/src/main/resources/application.yml
Due: azure-pipelines/build-backend.yml

Use combined ingress for both frontend and backend
  .github/workflows/deploy-app.yml
  k8s/dev/app-ingress.yaml
  k8s/dev/backend-ingress.yaml
  k8s/dev/frontend-ingress.yaml
Due: none

Fix backend OOM crashes - increase memory and probe delays
  k8s/dev/backend-deployment.yaml
Due: none

Trigger backend build for OOM fix deployment
  app/backend/src/main/resources/application.yml
Due: azure-pipelines/build-backend.yml

Fix ingress routing: add /actuator path and remove rewrite
  k8s/dev/app-ingress.yaml
Due: none

Trigger deployment with ingress routing fix
  app/backend/src/main/resources/application.yml
Due: azure-pipelines/build-backend.yml

Implement runtime environment variable injection for frontend
  app/frontend/Dockerfile
  app/frontend/env.sh
  app/frontend/public/index.html
  app/frontend/src/authConfig.js
Due: azure-pipelines/build-frontend.yml

Fix ingress path matching with regex for correct routing
  k8s/dev/app-ingress.yaml
Due: none

Trigger frontend build with runtime env injection update
  app/frontend/package.json
Due: azure-pipelines/build-frontend.yml

Add CLAUDE.md documentation and fix MSAL authentication
  CLAUDE.md
  app/frontend/nginx.conf
Due: azure-pipelines/build-frontend.yml

Fix 401 authentication error - Azure AD v1.0 token validation
  .github/workflows/deploy-app.yml
  AZURE_AD_CONFIGURATION.md
  app/backend/src/main/resources/application.yml
  charts/backend/values.yaml
Due: azure-pipelines/build-backend.yml

Add comprehensive GitHub Actions configuration documentation
  GITHUB_ACTIONS_SETUP.md
Due: none

Create arch.md
  arch.md
Due: none
